{% extends 'opentable/base.html' %}

{% block content %}
<div>
   <p>The ptolus open table project is a gaming group run by me (Davy), and a friend who won't be named because
        he values his web anonymity. We've been running a free form DnD game using the Pathfinder rule set for about
        15 people (8 - 9 of whom are regulars) for almost a year now.</p>

    <p>We've had a lot of laughs, some great characters and hopefully learned a few things about being a good GM or player
        along the way. This site is a way to keep track of all the characters that are active within the games as well as their
        write ups after each game and GM summaries for the games. It's also a test-bed for me improving my web-dev skills.</p>

    <p>The open table format of gaming is one we stumbled across and described (probably in better detail) <a href="http://thealexandrian.net/wordpress/1223/roleplaying-games/opening-your-game-table">here</a>.
        Essentially, there are no set times for games. A participator decides to run a game, and sends an email with the time of this game.
        Players, drawn from a larger pool of participants, respond yay or nay. These are now the players for this game. This idea of a fluid
        set of players has an important knock-on effect. At the end of every game, the GM must end the game "back in town". In other words -
        the GM shouldn't trap the party underground, unless (s)he plans to kill them outright.</p>

    <p> How we've implemented the open table is that we have a pool of GMs and a pool of players. The campaign is set in ptolus, and the characters
        are all members of the delvers guild. The GMs insert their various adventures, games, dungeons, and the like, into the ptolus setting,
        and then we alternate between different GMs (and therefore, dungeons). <p>

    <p>The idea of no fixed day/time for games, and the fluid player/character composition of the group means that, on average we've gotten a lot more gaming done,
        with much fewer cancelled games, since there are usually always at least three people to play.</p>

    <p> We play over the internet using google hangouts and a free piece of software called <a href="http://www.rptools.net/toolbox/maptool/">maptool</a>, which allows visualisation of the characters,
        the enemies, the terrain and their relative positions to one another. </p>

</div>



{% endblock %}