<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link href="{{STATIC_URL}}/css/bootstrap.min.css"rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}/css/davy-custom.css"rel="stylesheet" type="text/css">




</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'characters:home' %}">Ptolus Open Table</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'characters:addCharacter' %}">+Character</a></li>
                <li><a href="{% url 'writeups:add_writeup' %}">+Write Up</a></li>
                <li><a href="/admin/">Admin</a></li>
            </ul>

            {% if user.is_authenticated %}
                <p class="navbar-form navbar-right"><span class="btn btn-default">Welcome {{ user.username }}</span><a class="btn btn-primary" href='{% url "logout" %}'>Logout</a></p>
            {% else %}
                <form class="navbar-form navbar-right" id="login_form" method="POST" action='{% url "login" %}?next={{request.path}}'>
                    {% csrf_token %}
                    <div class="form-group">
                    <input type="text" class="form-control", name="username" placeholder="Username">
                    <input type="password" class="form-control" name="password" placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="col-md-2">
        <nav>
             <ul class="nav nav-pills nav-stacked">
                <li><h4>Characters</h4></li>
                {% for character in characters %}
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">{{character.name}}<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'characters:showCharacter' character.id %}">Stats</a></li>
                                <li><a href="{% url 'writeups:character_list_writeups' character.id %}">Write Ups</a></li>
                                {% if user.is_authenticated %}
	                                {% if user == character.player or user.is_superuser %}
                                        <li class="divider"></li>
                                        <li><a href="{% url 'characters:editCharacter' character.id %}">Edit</a></li>
                                        <li><a href="{% url 'characters:deleteCharacter' character.id %}">Delete</a></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                      </li>

                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="col-md-7">
        {% block content %}
        <!-- TODO: replace the list of characters on the front page with info -->
        {% endblock %}
    </div>
        <div class="col-md-3">
            <nav>
             <ul class="nav nav-pills nav-stacked">
                <li><h4>Write Ups</h4></li>
                {% for w_date in archive %}
                    <li><a href="{% url 'writeups:archive_list_writeups' w_date|date:'m' w_date|date:'Y'  %}">{{w_date|date:"F, Y"}}</a></li>
                {% endfor %}
            </ul>
            </nav>
        </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% load url from future %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="{% url "tinymce-js" "NAME" %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
</body>
</html>