<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
{% load crispy_forms_tags %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link href="{{STATIC_URL}}/css/bootstrap.darkly.css" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}/css/davy-custom.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->

    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip({
                placement : 'top'
            });
        });
    </script>

    {% block custom_header_scripts %}

    {% endblock %}


</head>
    <body>


        <nav class="navbar navbar-default navbar-fixed-top">

            <div class="container-fluid">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="{% url 'home' %}">Ptolus Open Table</a>

                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Campaigns<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url 'campaigns:list_campaigns' %}">List Campaigns</a></li>
                                        <li><a href="{% url 'campaigns:add_campaign' %}">Add Campaign</a></li>
                            </ul>
                        </li>



                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Characters<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url 'characters:list_characters' %}">List Characters</a></li>
                                        <li><a href="{% url 'characters:add_character' %}">Add Character</a></li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Write Ups<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url 'writeups:list_writeups' %}">List Write Ups</a></li>
                                        <li><a href="{% url 'writeups:add_writeup' %}">Add Write Up</a></li>
                            </ul>
                        </li>


                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Session Summaries<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url 'writeups:list_summaries' %}">List Summaries</a></li>
                                        <li><a href="{% url 'writeups:add_summary' %}">Add Summary</a></li>
                            </ul>
                        </li>


                        <li><a href="/admin/">Admin</a></li>
                    </ul>

                    {% if user.is_authenticated %}
                        <p class="navbar-form navbar-right navbar-collapse collapse"><span class="h6">Welcome {{ user.username|capfirst }} </span><a class="btn btn-primary" href='{% url "logout" %}'>Logout</a></p>
                    {% else %}

                    <form class="navbar-form navbar-right navbar-collapse collapse" id="login_form" method="POST" action='{% url "login" %}?next={{request.path}}'>
                            {% csrf_token %}
                            {{navbar_login_form.username}}
                            {{navbar_login_form.password}}

                            <!--<div class="form-group">
                            <input type="text" class="form-control", name="username" placeholder="username">
                            <input type="password" class="form-control" name="password" placeholder="password">
                            </div>-->
                            <button type="submit" class="btn btn-primary">Login</button>
                            <a href='{% url "register_new_user" %}' class="btn btn-primary">Register</a>
                        </form>

                    {% endif %}
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>



        <div class="container-fluid">

            <div class="col-sm-2">
                <h4>Recent Items:</h4>
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Campaigns</a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <tr class="info">
                                        <td><a href="{% url 'campaigns:list_campaigns' %}">All Campaigns</a></td>
                                    </tr>
                                    {% for this_campaign in recently_added_campaigns %}
                                        <tr>
                                            <td><a href="{% url 'campaigns:show_campaign' this_campaign.id %}">{{this_campaign.name}}</a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Characters</a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <tr class="info">
                                        <td><a href="{% url 'characters:list_characters' %}">All Characters</a></td>
                                    </tr>
                                    {% for this_character in recently_added_characters%}
                                        <tr>
                                            <td><a href="{% url 'characters:show_character' this_character.id %}">{{this_character.name}}</a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Writeups</a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <tr class="info">
                                        <td><a href="{% url 'writeups:list_writeups' %}">All Write Ups</a></td>
                                    </tr>
                                    {% for w_date in writeup_archive %}
                                        <tr>
                                            <td><a href="{% url 'writeups:archive_list_writeups' w_date|date:'m' w_date|date:'Y'  %}">{{w_date|date:"F, Y"}}</a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Summaries</a>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <tr class="info">
                                        <td><a href="{% url 'writeups:list_summaries' %}">All summaries</a></td>
                                    </tr>
                                    {% for s_date in summary_archive %}
                                    <tr>
                                        <td><a href="{% url 'writeups:archive_list_summaries' s_date|date:'m' s_date|date:'Y' %}">{{s_date|date:"F, Y"}}</a></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                </div>




                 <!---
                 <nav>
                     <ul class="nav nav-pills nav-stacked">
                        <li><h4><a href="{% url 'characters:list_characters' %}">Characters</a></h4></li>
                         {% for this_character in recently_added_characters %}
                            <li><a href="{% url 'characters:show_character' this_character.id %}">{{this_character.name}}</a></li>
                         {% endfor %}
                        <li><h4><a href="{% url 'writeups:list_writeups' %}">Write Ups</a></h4></li>
                        {% for w_date in writeup_archive %}
                            <li><a href="{% url 'writeups:archive_list_writeups' w_date|date:'m' w_date|date:'Y'  %}">{{w_date|date:"F, Y"}}</a></li>
                        {% endfor %}

                        <li><h4><a href="{% url 'writeups:list_summaries' %}">Session Summaries</a></h4></li>
                        {% for s_date in summary_archive %}
                            <li><a href="{% url 'writeups:archive_list_summaries' s_date|date:'m' s_date|date:'Y' %}">{{s_date|date:"F, Y"}}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
                -->
            </div>

            <div class="col-sm-7">
                {% block content %}

                {% endblock %}
            </div>


            <div class="col-sm-3">
                <h4>The Numbers</h4>
                <p class="sidebar-text">Some summary statistics of all games played, and all characters played within.</p>
                <table class="table table-condensed stats-table">
                <tr>
                    <td>Games Played</td><td><span class="badge">{{summary_count}}</span></td>

                    <td>Write ups</td><td><span class="badge">{{ writeup_count}}</span></td>
                </tr>
                <tr>
                    <td>Comments</td><td><span class="badge">{{ comment_count}}</span></td>

                    <td>Characters</td><td><span class="badge">{{character_count}}</span></td>
                </tr>
                <tr>
                    <td>TPL </td><td><span class="badge">{{party_level.level__sum}}</span></td>

                    <td>APL </td><td><span class="badge">{{party_level.level__avg|floatformat}}</span></td>
                </tr>
                <tr>
                    <td>Deaths</td><td><span class="badge">{{character_deaths.num_deaths__sum}}</span></td>

                    <td>Dead Characters</td><td><span class="badge">{{deceased_characters}}</span></td>
                </tr>
                <tr><td colspan="4"><h5>Races:</h5></td></tr>
                <tr>
                    {% for r in races %}

                        <td>{{r.race}}</td> <td><span class="badge">{{r.the_count}}</span></td>
                        {% if forloop.counter|divisibleby:"2" %}
                            </tr>
                            <tr>
                        {% endif %}
                        {% if forloop.last %}
                            </tr>
                        {% endif %}
                    {% endfor %}

                <tr><td colspan="4"><h5>Classes:</h5></td></tr>
                <tr>
                    {% for c in classes %}
                        <td>{{c.character_class}}</td> <td><span class="badge">{{c.the_count}}</span></td>
                        {% if forloop.counter|divisibleby:"2" and not forloop.last %}
                            </tr>
                            <tr>
                        {% endif %}
                        {% if forloop.last %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div><!--/.container-fluid-->

        <script type="text/javascript" src="{{ STATIC_URL }}js/tinymce/tinymce.min.js"></script>

        <script type="text/javascript" src="{% url 'tinymce-js' 'NAME' %}" ></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>

    </body>
</html>

