{% extends 'opentable/base.html' %}

{% block content %}

<div>
    <div class="jumbotron">
    <h4>Welcome to the Ptolus Open Table Project!</h4>
    </div>
    <p>The ptolus open table project is a gaming group run by me (Davy), and a friend who won't be named because
        he values his web anonymity. We've been running a free form DnD game using the Pathfinder rule set for about
        15 people (8 - 9 of whom are regulars) for almost a year now.</p>

    <p>We've had a lot of laughs, some great characters and hopefully learned a few things about being a good GM or player
        along the way. This site is a way to keep track of all the characters that are active within the games as well as their
        write ups after each game and GM summaries for the games. It's also a place for me to point prospective employers
        to a project taken from 0 to product and showcase my webskillz along with a test-bed for learning new things.</p>

    <p>If you'd like to know more about the Open Table format of gaming, you can visit the about page, which has plenty
        of information about the decisions the GMs made at the outset, and things we had to deal with along the way.
    </p>

</div>

{% endblock %}