{% extends 'opentable/base.html' %}

{% block content %}

    <div class="jumbotron">
    <h4>Welcome to the Ptolus Open Table Project!</h4>
    </div>
    <p>
        Within these dark pages, lie the tales of long forgotten heroes, the songs of powerful men and women.
        Be warned, traveler, for this tome is not for the faint of heart. Only the brave or bold, may
        journey forth unchanged.
    </p>

    <div class="container-fluid">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h6>Campaigns</h6></div>
                <div class="panel-body">
                    <p>View the past and currently tracked campiagns or add a new one!</p>

                    <div class="btn-group margins-10">
                        <a href="{% url 'campaigns:list_campaigns' %}" type="button" class="btn btn-default" aria-label="list" data-toggle="tooltip" data-original-title="List">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'campaigns:add_campaign' %}" type="button" class="btn btn-default" aria-label="Add" data-toggle="tooltip" data-original-title="Add">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h6>Characters</h6></div>
                    <div class="panel-body">
                        <p>View the characters from all the campaigns, read their back-stories and stats or add your own character. </p>

                    <div class="btn-group margins-10">
                        <a href="{% url 'characters:list_characters' %}" type="button" class="btn btn-default" aria-label="list" data-toggle="tooltip" data-original-title="List">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'characters:add_character' %}" type="button" class="btn btn-default" aria-label="Add" data-toggle="tooltip" data-original-title="Add">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h6>Sessions</h6></div>
                    <div class="panel-body">
                         <p>View all game sessions that have been played and what characters played in them. You can add a new session summary as well </p>

                    <div class="btn-group margins-10">
                        <a href="{% url 'writeups:list_summaries' %}" type="button" class="btn btn-default" aria-label="list" data-toggle="tooltip" data-original-title="List">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'writeups:add_summary' %}" type="button" class="btn btn-default" aria-label="Add" data-toggle="tooltip" data-original-title="Add">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h6>Write Ups</h6></div>
                    <div class="panel-body">
                        <p>Read and comment on previous write ups, or add a new one for one of your characters.</p>

                    <div class="btn-group margins-10">
                        <a href="{% url 'writeups:list_writeups' %}" type="button" class="btn btn-default" aria-label="list" data-toggle="tooltip" data-original-title="List">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'writeups:add_writeup' %}" type="button" class="btn btn-default" aria-label="Add" data-toggle="tooltip" data-original-title="Add">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h6>Players</h6></div>
                    <div class="panel-body">
                        <p>See a list of all players, links to their characters, write ups and session summaries, or register for an account.</p>

                    <div class="btn-group margins-10">
                        <a href=" {% url 'players:list_players' %}" type="button" class="btn btn-default" aria-label="list" data-toggle="tooltip" data-original-title="List">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'register_new_user' %}" type="button" class="btn btn-default" aria-label="Add" data-toggle="tooltip" data-original-title="Add">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}