{% extends 'opentable/base.html' %}

{% block content %}

    <div class="contain-fluid">

        <div class="col-xs-6 col-xs-offset-3">
            <div id="login-form" class="panel panel-default">
                <h4>You must login first!</h4>
                <form method="POST" action='{% url "login" %}?next={{next_page}}'>
                    {% csrf_token %}
                    <div class="form-group">
                    <div class="form-field-spacer">
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ login_form.username.errors }}
                    {{ login_form.username }}
                    </div>

                    <div class="form-field-spacer">
                    <label for="{{ form.password.id_for_label }}">Password:</label>
                    {{ login_form.password.errors }}
                    {{ login_form.password }}
                    </div>




                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            <a href='{% url "register_new_user" %}'>Don't have an account? Sign up</a>
            </div>
        </div>
    </div>

{% endblock %}