{% extends 'opentable/base.html' %}

{% block content %}


                <h4>The Numbers</h4>
                <p>Some summary statistics of all games played, and all characters played within.</p>
                <table class="table table-condensed stats-table">
                    <tr>
                        <td>Games Played</td><td><span class="badge">{{summary_count}}</span></td>

                        <td>Write ups</td><td><span class="badge">{{ writeup_count}}</span></td>
                    </tr>
                    <tr>
                        <td>Comments</td><td><span class="badge">{{ comment_count}}</span></td>

                        <td>Characters</td><td><span class="badge">{{character_count}}</span></td>
                    </tr>
                    <tr>
                        <td>TPL </td><td><span class="badge">{{party_level.level__sum}}</span></td>

                        <td>APL </td><td><span class="badge">{{party_level.level__avg|floatformat}}</span></td>
                    </tr>
                    <tr>
                        <td>Deaths</td><td><span class="badge">{{character_deaths.num_deaths__sum}}</span></td>

                        <td>Dead Characters</td><td><span class="badge">{{deceased_characters}}</span></td>
                    </tr>
                </table>

                <div class="col-xs-12 col-md-6 padding-5" id="pie-chart-races"></div>
                <div class="col-xs-12 col-md-6 padding-5" id="pie-chart-classes"></div>
                <div class="col-xs-12 col-md-12 padding-5" id="pie-chart-writeups"></div>

                <script>
                    $(function () {
                        $('#pie-chart-races').highcharts({
                                   chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Characters by Race'
                            },
                            xAxis: {
                                type: 'category',
                                labels: {
                                    rotation: -45,
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: '# Characters by Race'
                                }
                            },
                            legend: {
                                enabled: false
                            },
                            series: [{
                                name: 'Count',
                                data: [
                                {% for r in races %}
                                        ['{{r.race}}',     {{r.the_count}}],
                                {% endfor %}

                                ]
                            }]
                        });
                        $('#pie-chart-classes').highcharts({
                                   chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Characters by Class'
                            },
                            xAxis: {
                                type: 'category',
                                labels: {
                                    rotation: -45,
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: '# Characters by Class'
                                }
                            },
                            legend: {
                                enabled: false
                            },
                            series: [{
                                name: 'Count',
                                data: [
                                {% for c in classes %}
                                        ['{{c.character_class}}',     {{c.the_count}}],
                                {% endfor %}

                                ]
                            }]
                        });
                        $('#pie-chart-writeups').highcharts({
                                  chart: {
                               type: 'column'
                           },
                           title: {
                               text: 'Write Ups by Player'
                           },
                           xAxis: {
                                type: 'category',
                                labels: {
                                    rotation: -45,
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                           },
                           yAxis: {
                                min: 0,
                                title: {
                                    text: '# Write Ups by Player'
                                }
                           },
                           legend: {
                                enabled: false
                           },
                           series: [{
                                name: 'Count',
                                data: [
                                {% for w in writeups_per_player %}
                                        ['{{w.username|capfirst}}',     {{w.writeup__count}}],
                                {% endfor %}
                                ]
                           }]
                        });
                    });
                </script>
{% endblock %}