{% extends 'opentable/base.html' %}

{% block content %}

    <div class="contain-fluid">

        <div class="col-xs-6 col-xs-offset-3">

            <div id="login-form" class="panel panel-default">

                <h4>Register for an account</h4>
                <p class="text-danger">This site has not yet been configured to use HTTPS.
                Any password you sign up with will be sent as raw text over the network
                </p>
                <p class="text-danger">Do not use a common password for all sites here. Use a unique password
                that you wouldn't care about if it were made public.</p>

                {% load crispy_forms_tags %}

                <form method="POST" action='{% url "register_new_user" %}'>
                    {% csrf_token %}

                    <div class="form-group">
                    {{new_user_form|crispy}}
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>

                </form>
                <h6>New users are defaulted to inactive. Once registered, ask your admin to activate you.</h6>
            </div>
        </div>
    </div>

{% endblock %}