body {
    margin-top: 70px;
    margin-bottom: 70px;
}

.character-index-box {
    text-align: center;
    -webkit-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.4) ;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.4) ;
}

.character-token-big {
    height: 120px;
    width: 120px;
    margin: 5px;
    margin-top: 15px;

}

.character-token {

    width: 100px;
    margin: 20px;
}

.character-token-small {

    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.character-token-label {
    text-align: center;
}

.character-block{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(61,61,61,1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.4) ;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.4) ;
}

.character-buttons{
    margin: auto;
}


.icon{
    margin: 4px;
    height: 20px;
    width: 20px;
    display: inline-block;
    float: right;
}

.gear-menu {
    float: right;
}

.writeup-box {
    padding: 10px;
}

.writeup-text {
    text-align: justify;
}

.writeup-meta {
    color: rgb(128, 128, 128);
    font-size: 95%;
}

.comments-section{
    padding: 10px;
}

.comment-box{
    margin-top: 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

.comment-text{
    text-align: justify;
}

.comment-meta{
    color: rgb(128, 128, 128);
    font-size: 80%;
    padding-bottom: 10px;
}

.comment-form{
    padding: 20px;
}

p {
    text-align: justify;
    margin: 10px;
}

.sidebar-text {
    text-align: left;
}

.panel-body {
    padding: 0px;
}

.panel-body > table{
    margin-bottom:0px;
}

.stats-table {
    margin-left: 0px;
    margin-right: 0px;
}

#summary-add-form{
    padding: 20px;
}

.writeup-short{
    margin-top: 5px;
    margin-bottom: 20px;
}

.writeup-short-body {
    margin: 5px;
    padding: 5px;
}

.writeups-list {
    margin-top: 10px;
}

#login-form {
    padding: 10px;
    margin-top: 100px;
}

.form-field-spacer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-bar {
    margin-top: 30px;
    margin-bottom: 30px;
}
.margins-10 {
    margin: 10px;
}
.button-offset {
 position: absolute;
 bottom: 0;
}
