{% extends 'opentable/base.html' %}

{% block content %}

<div class="container-fluid">
     {% for u, c , w, s  in user_data%}
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6>{{u.username|capfirst}}</h6>
                </div>
                <div class="panel-body">
                    <ul  class="list-group">
                        <li class="list-group-item"><a href="{% url 'characters:list_characters'%}?player={{u.id}}">{{c.character__count}} Characters</a></li>
                        <li class="list-group-item"><a href="{% url 'writeups:list_writeups' %}?player={{u.id}}">{{w.writeup__count}} Write Ups</a></li>
                        <li class="list-group-item"><a href="{% url 'writeups:get_summaries_by_player' u.id %}">{{s}} Games</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}