{% extends 'opentable/base.html' %}

{% block content %}
<div>
    <div class="pagination">
    {% if writeups.has_previous %}
    <a href="?page={{ writeups.previous_page_number }}"><button type="button" class="btn btn-primary">&lt;&lt; Back</button></a>
    {% else %}
        <button type="button" class="btn btn-default">Back</button>
    {% endif %}
        <button type="button" class="btn btn-info">{{pageName}} (pg. {{ writeups.number }})</button>
    {% if writeups.has_next %}
        <a href="?page={{ writeups.next_page_number }}"><button type="button" class="btn  btn-primary">Next &gt;&gt;</button></a>
    {% else %}
        <button type="button" class="btn btn-default">Next</button>
    {% endif %}
    </div>

    <div class="writeups-list">
    {% if writeups|length > 0 %}
        {% for writeup in writeups %}
            <div class="writeup-short">
                <a href="{% url 'writeups:show_writeup' writeup.id %}"><span class="h4">{{writeup.author_character}}</span></a>
                <span class="h6 writeup-meta">by {{writeup.author}} on {{writeup.submission_date}}</span>
                <div class="writeup-short-body">
                    {{writeup.post_content|truncatechars_html:200|safe}}  <a href="{% url 'writeups:show_writeup' writeup.id %}">see more</a>
                </div>

            </div>

        {% endfor %}
    {% else %}


            <h3>Ooops!</h3>
            <p>This character doesn't have any write ups yet.</p>

    {% endif %}
    </div>


</div>
{% endblock %}