{% extends 'opentable/base.html' %}

{% block content %}
<div>
    <div class="pagination">
    {% if summaries.has_previous %}
    <a href="?page={{ summaries.previous_page_number }}"><button type="button" class="btn btn-primary">&lt;&lt; Back</button></a>
    {% else %}
        <button type="button" class="btn btn-default">Back</button>
    {% endif %}
        <button type="button" class="btn btn-info">{{pageName}} (pg. {{ summaries.number }})</button>
    {% if summaries.has_next %}
        <a href="?page={{ summaries.next_page_number }}"><button type="button" class="btn  btn-primary">Next &gt;&gt;</button></a>
    {% else %}
        <button type="button" class="btn btn-default">Next</button>
    {% endif %}
    </div>

    <div class="writeups-list">
    {% if summaries|length > 0 %}
        {% for summary in summaries %}
            <div>
                <a href="{% url 'writeups:show_summary' summary.id %}"><h4>Session {{summary.number}}</h4></a>
                <h6 class="writeup-meta">by {{summary.gm}} on {{summary.session_date}}</h6>
                <div class="writeup-short">
                    <h5>{{summary.location}}</h5>
                    <ul class="list-inline">
                    {% for char in summary.session_characters.all %}
                        <!-- TODO: make these links to character stats pages - with tool tips! -->
                        <li><img class="character-token-small" src="{{MEDIA_URL}}/{{char.character_token}}"></img></li>
                    {% endfor %}
                    </ul>
                    <div class="writeup-short-body">
                        {{summary.summary_content|truncatechars_html:100|safe}}
                    </div>
                </div>

            </div>

        {% endfor %}
    {% else %}
            <h3>Ooops!</h3>
            <p>Looks like this character hasn't done enough adventuring yet!</p>

    {% endif %}
    </div>


</div>
{% endblock %}