{% extends 'opentable/base.html' %}

{% block content %}

    <ul class="pagination">
    {% if writeups.has_previous %}
    <li><a href="?page={{ writeups.previous_page_number }}">Back</a></li>
    {% else %}
        <li class="disabled"><a href="#">Back</a></li>
    {% endif %}



        {% for p in pages %}

        {% if p == writeups.number %}
            <li class="active"><a href="#">{{ writeups.number }}</a></li>
        {% else %}
            <li><a href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}

        {% endfor %}


    {% if writeups.has_next %}
       <li><a href="?page={{ writeups.next_page_number }}">Next</a></li>
    {% else %}
        <li class="disabled"><a href="#">Next</a></li>
    {% endif %}
    </ul>

    <div class="writeups-list">
        {% for writeup, count in writeups_and_comment_counts %}
            <div class="writeup-short">
                <a href="{% url 'writeups:show_writeup' writeup.id %}"><h4>{{writeup.author_character}}</h4></a>
                <h6 class="writeup-meta">by {{writeup.author}} on {{writeup.date_added}}</h6>

                <div class="writeup-short-body">
                    {{writeup.post_content|truncatechars_html:200|safe}}
                    <span class="writeup-meta">Comments <span class="badge">{{count}}</span></span>
                </div>
            </div>

        {% empty %}



            <h3>Ooops!</h3>
            <p>No write ups here yet.</p>

    {% endfor %}
    </div>


{% endblock %}