{% extends 'opentable/base.html' %}

{% block content %}

  <ul class="pagination">
    {% if summaries.has_previous %}
    <li><a href="?page={{ writeups.previous_page_number }}">Back</a></li>
    {% else %}
        <li class="disabled"><a href="#">Back</a></li>
    {% endif %}

        {% for p in pages %}

        {% if p == summaries.number %}
            <li class="active"><a href="#">{{ summaries.number }}</a></li>
        {% else %}
            <li><a href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}

        {% endfor %}

    {% if summaries.has_next %}
       <li><a href="?page={{ writeups.next_page_number }}">Next</a></li>
    {% else %}
        <li class="disabled"><a href="#">Next</a></li>
    {% endif %}
    </ul>

    <div class="writeups-list">
        {% for summary in summaries %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                        <div class="col-sm-6">
                            <a href="{% url 'writeups:show_summary' summary.id %}"><h4>Session {{summary.number}}</h4></a>
                            <h6>{{summary.location}}</h6>
                            <h6 class="writeup-meta">by {{summary.gm}} on {{summary.date_added}}</h6>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-inline pull-right">
                            {% for char in summary.session_characters.all %}
                                <!-- TODO: make these links to character stats pages - with tool tips! -->
                                <li><img class="character-token-small" src="{{MEDIA_URL}}/{{char.character_token}}"></li>
                            {% endfor %}
                            </ul>
                        </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{summary.summary_content|truncatechars_html:100|safe}}
                    </div>
                </div>




    {% empty %}
            <h3>Ooops!</h3>
            <p>Looks like this character hasn't done enough adventuring yet!</p>

    {% endfor %}
    </div>

{% endblock %}