{% extends 'opentable/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

{% load writeup_extras %}


<div class="row">
    <div class="col-sm-9 search-bar">
            {% crispy search_form search_form.helper %}
    </div>

</div>


<div class="col-xs-12">
    <div class="btn-group" role="'group">
        <a href="#" type="button" id="sort-newest" class="btn btn-default btn-sm">Sort Newest</a>
        <a href="#" type="button" id="sort-oldest" class="btn btn-default btn-sm">Sort Oldest</a>
    </div>
</div>

<div class="col-xs-12">
    <ul class="pagination">
    {% if writeups.has_previous %}
    <li><a href="?page={{ writeups.previous_page_number }}">Back</a></li>
    {% else %}
        <li class="disabled"><a href="#">Back</a></li>
    {% endif %}



        {% for p in pages %}

        {% if p == writeups.number %}
            <li class="active"><a href="#">{{ writeups.number }}</a></li>
        {% else %}
            <li><a href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}

        {% endfor %}


    {% if writeups.has_next %}
       <li><a href="?page={{ writeups.next_page_number }}">Next</a></li>
    {% else %}
        <li class="disabled"><a href="#">Next</a></li>
    {% endif %}
    </ul>
</div>

    <div class="col-xs-11 col-xs-offset-1">
        {% for writeup in writeups %}
            <div class="panel panel-default">
                <div class="panel-heading"><a href="{% url 'writeups:show_writeup' writeup.id %}"><h5>{{writeup.author_character}}</h5></a>
                <span class="writeup-meta">by {{writeup.author}} on {{writeup.date_added}}</span>
                </div>

                <div class="panel-body">
                    <p>{{writeup.post_content|replace_linebr|truncatewords_html:80|safe}}</p>
                </div>
            </div>

        {% empty %}
            <h3>Ooops!</h3>
            <p>No write ups here yet.</p>

    {% endfor %}
    </div>


{% endblock %}