{% extends 'opentable/base.html' %}


{% block content %}


    <div class="panel panel-default writeup-box">
<div class="gear-menu">
            {% if user.is_authenticated %}
                {% if user == this_summary.gm or user.is_superuser %}
                    <div class="btn-group" role="group">
                        <a href="{% url 'writeups:edit_summary' this_summary.id %}" type="button" class="btn btn-default btn-sm" aria-label="edit" data-toggle="tooltip" data-original-title="Edit">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>

                        <a href="{% url 'writeups:delete_summary' this_summary.id  %}" type="button" class="btn btn-default btn-sm" aria-label="delete" data-toggle="tooltip" data-original-title="Delete">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <h3>Session {{this_summary.number}}</h3>
        <h6 class="writeup-meta">GMed by {{this_summary.gm}} on {{this_summary.date_added}}</h6>
        <h5>Location: {{this_summary.location}}</h5>

        <ul class="list-inline">
            <li><h5>PCs:</h5></li>
            {% for char in this_summary.session_characters.all %}
                <li><h6 class="character-token-label">{{char.name}}</h6><img class="character-token-small" src="{{MEDIA_URL}}/{{char.character_token}}"></li>
            {% endfor %}
        </ul>
        <div class="writeup-text">
            <h5>Summary:</h5>
            {{this_summary.summary_content|safe}}
        </div>
        <h6>XP Awarded: {{this_summary.xp_awarded}}</h6>
        <h6>Important NPCs: {{this_summary.important_npcs}}</h6>
    </div>


{% endblock %}

<!-- TODO: continue to refine look of summary index and summary single view-->
<!-- TODO: make images in show summary links to characters stats page -->
