{% extends 'opentable/base.html' %}

{% block custom_header_scripts %}

{% endblock %}


{% block content %}
    {% for character in characters %}
    {% if forloop.first %}
        <div class="row">
    {% endif %}


    <div class="col-sm-4">
    <!-- TODO: Make a data page. Have overall summaries about the games played. Total Levels, APL, n sessions per level, n character deaths
         TODO: Make the navbar links at the top of the page be drop down boxes
         TODO: Error pages
         TODO: Custom context processors

     -->
        <div class="character-index-box panel panel-default">
            <a href="{% url 'characters:show_character' character.id %}"><img class="character-token-big" src="{{MEDIA_URL}}/{{character.character_token}}"></img></a>
                <h4 class="character-token-label">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">{{character.name}}<span class="caret"></span></a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'characters:show_character' character.id %}">Stats</a></li>
                                <li><a href="{% url 'writeups:character_list_writeups' character.id %}">Write Ups</a></li>
                                <li><a href="{% url 'writeups:character_list_summaries' character.id %}">Sessions</a></li>
                                {% if user.is_authenticated %}
	                                {% if user == character.player or user.is_superuser %}
                                        <li class="divider"></li>
                                        <li><a href="{% url 'characters:edit_character' character.id %}">Edit</a></li>
                                        <li><a href="{% url 'characters:delete_character' character.id %}">Delete</a></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                </h4>
                <h6>{{character.character_class}} - Level {{character.level}}</h6>
            </div>
    </div>


    {% if forloop.counter|divisibleby:"3" and not forloop.last%}
    </div>
    <div class="row">
    {% endif %}

    {% if forloop.last %}
        </div>
    {% endif %}


    {% endfor %}





{% endblock %}